# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environment variables and virtual environments
.env
.venv

# Ignore my experiments. They just for me =)
experiments

# Ignore data files
/fashion-dataset/*
/datasets/*
images/*
train/*
/images/*

# Ignore output files
/output/*

# Scratch files
*.devlog